USE [master]
GO
/****** Object:  Database [Ferreteria]    Script Date: 01/06/2020 13:17:34 ******/
CREATE DATABASE [Ferreteria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ferreteria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSV\MSSQL\DATA\Ferreteria.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ferreteria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSV\MSSQL\DATA\Ferreteria_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ferreteria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ferreteria]
GO
/****** Object:  Table [dbo].[Adultos]    Script Date: 01/06/2020 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Adultos](
	[Id_Vendedor] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Edad] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bodega]    Script Date: 01/06/2020 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bodega](
	[Id_Bodega] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Capacidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Bodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 01/06/2020 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Correo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Edades23]    Script Date: 01/06/2020 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Edades23](
	[Id_Vendedor] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Edad] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 01/06/2020 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[Id_Producto] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioU] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 01/06/2020 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_Proveedor] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 01/06/2020 13:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendedor](
	[Id_Vendedor] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Edad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Adultos] ([Id_Vendedor], [Nombre], [Telefono], [Edad]) VALUES (2, N'Jose Luis Esquivel', 811413324, 32)
INSERT [dbo].[Adultos] ([Id_Vendedor], [Nombre], [Telefono], [Edad]) VALUES (3, N'Juan Lara Mendez', 832344333, 33)
INSERT [dbo].[Adultos] ([Id_Vendedor], [Nombre], [Telefono], [Edad]) VALUES (4, N'Daniel Ballasteres Martinez', 814121223, 37)
INSERT [dbo].[Bodega] ([Id_Bodega], [Descripcion], [Capacidad]) VALUES (333000, N'Bodega 10 andenes, 15x 20 mts cuadrados', 100)
INSERT [dbo].[Bodega] ([Id_Bodega], [Descripcion], [Capacidad]) VALUES (333002, N'Bodega con 5 modulos 15 x 20 mts cuadrados', 600)
INSERT [dbo].[Bodega] ([Id_Bodega], [Descripcion], [Capacidad]) VALUES (333232, N'Bodega de dos pisos, 20 x 20 mts cuadrados', 1000)
INSERT [dbo].[Cliente] ([Id_Cliente], [Nombre], [Telefono], [Correo]) VALUES (1, N'Julio Medrano Muñoz', 811464923, N'julio@gmail.com')
INSERT [dbo].[Cliente] ([Id_Cliente], [Nombre], [Telefono], [Correo]) VALUES (2, N'Yair Gomez Torres', 811454669, N'yair_gomez@gmail.com')
INSERT [dbo].[Cliente] ([Id_Cliente], [Nombre], [Telefono], [Correo]) VALUES (3, N'Osmar Gonzalez Ruiz', 811481469, N'OsGonRuiz@gmail.com')
INSERT [dbo].[Edades23] ([Id_Vendedor], [Nombre], [Telefono], [Edad]) VALUES (1, N'Hugo Rodriguez Mendez', 811412223, 23)
INSERT [dbo].[Edades23] ([Id_Vendedor], [Nombre], [Telefono], [Edad]) VALUES (6, N'Feliciano Trevino Sanchez', 809342345, 23)
INSERT [dbo].[Producto] ([Id_Producto], [Nombre], [Cantidad], [PrecioU]) VALUES (100, N'Carretilla vecker', 1, 249.99)
INSERT [dbo].[Producto] ([Id_Producto], [Nombre], [Cantidad], [PrecioU]) VALUES (102, N'Pala Vecker', 2, 44.55)
INSERT [dbo].[Producto] ([Id_Producto], [Nombre], [Cantidad], [PrecioU]) VALUES (110, N'Martillos cabeza plana', 5, 39.99)
INSERT [dbo].[Proveedor] ([Id_Proveedor], [Nombre], [Telefono]) VALUES (1, N'Vecker', 811465200)
INSERT [dbo].[Proveedor] ([Id_Proveedor], [Nombre], [Telefono]) VALUES (2, N'Lemus', 811420354)
INSERT [dbo].[Proveedor] ([Id_Proveedor], [Nombre], [Telefono]) VALUES (3, N'Home Depot', 810543555)
INSERT [dbo].[Vendedor] ([Id_Vendedor], [Nombre], [Telefono], [Edad]) VALUES (1, N'Hugo Rodriguez Mendez', 811412223, 23)
INSERT [dbo].[Vendedor] ([Id_Vendedor], [Nombre], [Telefono], [Edad]) VALUES (2, N'Jose Luis Esquivel', 811413324, 32)
INSERT [dbo].[Vendedor] ([Id_Vendedor], [Nombre], [Telefono], [Edad]) VALUES (3, N'Juan Lara Mendez', 832344333, 33)
USE [master]
GO

Select * from Producto E left join Bodega D on E.Id_Producto = D.Id_Bodega
Select * from Vendedor E left join Cliente D on E.Id_Vendedor = D.Id_Cliente

Select * from Cliente E right join Vendedor D on E.Id_Cliente = D.Id_Vendedor
Select * from Proveedor E right join Bodega D on E.Id_Proveedor = D.Id_Bodega

Select * from Cliente E inner join Producto D on E.Id_Cliente = D.Id_Producto
Select * from Proveedor E inner join Bodega D on E.Id_Proveedor = D.Id_Bodega

Select * from Cliente E cross join Vendedor D
select * from Bodega cross join Proveedor


SELECT Nombre, Cantidad, PrecioU FROM Producto WHERE PrecioU = (SELECT MIN(PrecioU) FROM Producto);

select * into Adultos from Vendedor where Edad > 30